﻿<div ng-app="toDoApp" ng-controller="taskCtrl" class="tasks-container">
    
               
        <table class="table container-fluid" > 
            <tr>
                <td colspan="6">
                    <div class="form-horizontal row ">
                        <div class="col-xs-12"> <input type="text" class="form-control" ng-model="newTaskName" ng-keyup="addTask($event)" placeholder="Create your new task" value="{{newTaskName}}"></div>
                    </div>
                </td>
            </tr>         
            <tr ng-repeat="task in tasks | completedFilter:tasksFilter" ng-class="{'danger': task.IsOutdated}" id="{{task.TaskId}}">
                <td style="display: none;" ng-model="task.TaskId"> </td>
                <td class="col-md-1"><input type="checkbox" ng-model="task.IsCompleted" ng-change="changeTask(task, $event)"></td>
                <td class="col-md-7" ng-if="task.IsCompleted"><s>{{task.Name}}</s></td>
                <td class="col-md-7" ng-if="!task.IsCompleted"> {{task.Name}} </td>
                <td class="col-md-3"><input type="text" ng-model="task.Deadline | date:'MM/dd/yyyy'" ng-change="changeTask(task)" datepicker>  </td>
                <td class="col-md-1"><button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="deleteTask(task)">&times;</span></button></td>
            </tr>
        </table>


        <div class="btn-group" role="group" aria-label="filters">
            <button class="btn btn-default" ng-model="tasksFilter" ng-click="tasksFilter = true">Completed</button>
            <button class="btn btn-default" ng-model="tasksFilter" ng-click="tasksFilter = false">Active</button>
            <button class="btn btn-default" ng-model="tasksFilter" ng-click="tasksFilter = 'none'">All tasks</button>
            <button class="btn btn-default" ng-click="clearCompleted()">Delete completed tasks</button>
        </div>
    
</div>

@section scripts {
    @*//jquery refs are needed for tasks' datepickers*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/toDo.js")
    @Scripts.Render("~/Scripts/dir-datepicker.js")
    @Scripts.Render("~/Scripts/fil-completed.js")
}